*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/gradle.xml

.idea/misc.xml

.idea/modules.xml

.idea/runConfigurations.xml

annotation/build/classes/main/org/limlee/annotation/EasyExtraInjector.class

annotation/build/classes/main/org/limlee/annotation/Extra.class

annotation/build/classes/main/org/limlee/annotation/ExtraInjector.class

annotation/build/classes/main/org/limlee/annotation/ExtraModule.class

annotation/build/libs/annotation.jar

annotation/build/tmp/jar/MANIFEST.MF

*.class

processor/build/libs/processor.jar

processor/build/resources/main/META-INF/services/javax.annotation.processing.Processor

processor/build/tmp/jar/MANIFEST.MF
